.navbar {
    background-color: #333a41;
}

a, .navbar-brand, .navbar-nav .nav-link {
    color: white !important;
}

a:hover, .navbar-nav:hover, .nav-link:hover {
    color: #333a41 !important;
}

.image-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 60vw;
}

.image-dog {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
