<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div style="text-align: center">
            <a th:href="@{/dog}">Yes yes GPS</a>
            <div>
                <img width="600px" height="400px" th:src="${image}"/>
            </div>
        </div>
        <div style="text-align: center">
            <a th:href="@{/dog/boxer}">Yes yes GPS by breed</a>
            <div>
                <img width="600px" height="400px" th:src="${imageByBreed}"/>
            </div>
        </div>
    </body>
</html>
